---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/CCommon/Header.astro";
import NavBar from "@/components/CCommon/NavBar.astro";
import TopUtility from "@/components/CCommon/TopUtility.astro";
import CTitle from "@/components/CCommon/TitlePages.astro";
import NewsList from "@/components/CNews/NewsList.astro";
import "@/styles/index.css";
import type { News } from "@/types/news";
import Paginate from "@/components/CCommon/Paginate.astro";
import { loadNewsPages } from "@/utils/news/newsPageLoader";
 
// 1. Definimos estado inicial por defecto (Fail-safe)
let news = [];
let totalPages = 1;
let currentPage = 1;
let serverError = false; // Nueva bandera para avisar al hijo

// 2. Intentamos la carga SSR
try {
  const data = await loadNewsPages(Astro.url);
  news = data.news;
  totalPages = data.totalPages;
  currentPage = data.currentPage;
} catch (e) {
  console.error("⚠️ [SSR] Fallo al cargar noticias desde Spring Boot:", e);
  serverError = true; // Marcamos que hubo error
}
---

<BaseLayout>
  <section class="max-w-full bg-white shadow-md rounded-lg">
    <TopUtility />
    <Header />
  </section>
  <section class="my-10 max-w-full bg-white shadow-md">
    <NavBar />
  </section>

  <CTitle Title="News" />

  <section class="w-full px-4 mx-auto max-w-custom">
    <div class="text-center mb-10">
      <p class="text-lg text-gray-600 mx-auto max-w-2xl">
        Nuestro grupo de investigación se especializa en telecomunicación y
        procesamiento de señales.
      </p>
    </div>
    <NewsList 
      news={news} 
      serverError={serverError} 
    />
    
    { !serverError && totalPages > 1 && (
      <Paginate
        totalPages={totalPages}
        currentPage={currentPage}
        astroURL={Astro.url}
      />
    )}
  </section>
</BaseLayout>

<style>
  .max-w-custom {
    max-width: 1200px;
  }
</style>
