---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TopUtility from "@/components/CCommon/TopUtility.astro";
import NavBar from "@/components/CCommon/NavBar.astro";
import Header from "@/components/CCommon/Header.astro";
import CTitle from "@/components/CCommon/TitlePages.astro";

// Importamos solo el List y Paginate
import ResearchList from "@/components/CResearch/ResearchList.astro"; 
import Paginate from "@/components/CCommon/Paginate.astro";

import "@/styles/index.css";
import { loadResearchPage } from "@/utils/research/researchPageLoader";

// Cargamos todos los datos (incluidos los filtros)
const { works, totalPages, currentPage, allProjects, allTags, activeFilters } = await loadResearchPage(Astro.url);
---

<BaseLayout>
  <section class="max-w-full bg-white shadow-md rounded-lg">
    <TopUtility />
    <Header />
  </section>

  <section class="mt-10 max-w-full bg-white shadow-md">
    <NavBar />
  </section>

  <CTitle Title="Research" />

  <section class="w-full px-4 mx-auto max-w-custom pb-12">
    
    <ResearchList 
      works={works}
      tags={allTags}
      projects={allProjects}
      activeTag={activeFilters.tag}
      activeProject={activeFilters.project}
    />

    <div class="mt-8">
      <Paginate
        totalPages={totalPages}
        currentPage={currentPage}
        astroURL={Astro.url}
      />
    </div>

  </section>
</BaseLayout>

<style>
  .max-w-custom {
    max-width: 1200px;
  }
</style>