---
export const prerender = false; // SSR Activado para búsqueda y paginación

import BaseLayout from "@/layouts/BaseLayout.astro";
import TopUtility from "@/components/CCommon/TopUtility.astro";
import NavBar from "@/components/CCommon/NavBar.astro";
import Header from "@/components/CCommon/Header.astro";
import CTitle from "@/components/CCommon/TitlePages.astro";
import ResearchList from "@/components/CResearch/ResearchList.astro"; 

// Componentes Comunes
import SearchFilter from "@/components/CCommon/SearchFilter.astro";
import Paginate from "@/components/CCommon/Paginate.astro";


import "@/styles/index.css";

// Loader de Datos
import { loadResearchPage } from "@/utils/research/researchPageLoader";
import ResearchFilters from "@/components/CResearch/ResearchFilters.astro";

// Carga de datos inicial
const { works, totalPages, currentPage, allProjects, allTags, activeFilters } = await loadResearchPage(Astro.url);
---

<BaseLayout>
  <section class="max-w-full bg-white shadow-md rounded-lg">
    <TopUtility />
    <Header />
  </section>

  <section class="mt-10 max-w-full bg-white shadow-md">
    <NavBar />
  </section>

  <CTitle Title="Research" />

  <section class="w-full px-4 mx-auto max-w-custom pb-12">
    
    <div class="mb-6">
      <SearchFilter 
        inputId="search-research" 
        placeholder="Buscar publicaciones por título..." 
        baseURL="/research" 
      />
    </div>

    <ResearchFilters 
      tags={allTags}
      projects={allProjects}
      activeTag={activeFilters.tag}
      activeProject={activeFilters.project}
      baseUrl="/research"
    />
    
    <ResearchList works={works} />

    <div class="mt-8">
      <Paginate
        totalPages={totalPages}
        currentPage={currentPage}
        astroURL={Astro.url}
      />
    </div>

  </section>
</BaseLayout>

<script>
  import { setupAdvancedSearch } from "@/utils/general/searchFilter";

  document.addEventListener("DOMContentLoaded", () => {
    setupAdvancedSearch({
      inputId: "search-research",
      searchEndpoint: "http://localhost:8080/api/works/paged", // Endpoint de Research
      baseUrl: "/research",
      debounceMs: 300
    });
  });
</script>

<style>
  .max-w-custom {
    max-width: 1200px;
  }
</style>